<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="rure-base-rpc-service"/>

    <dubbo:registry address="zookeeper://221.178.170.207:32181?backup=221.178.170.207:22181,221.178.170.207:12181"/>

    <dubbo:protocol name="dubbo" port="20883"/>

    <dubbo:monitor protocol="registry"/>

    <bean id="userService" class="com.bdth.rure.base.rpc.service.impl.UserServiceImpl"/>
    <dubbo:service interface="com.bdth.rure.base.api.UserService" ref="userService" timeout="100000"/>

</beans>

