<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="rure-demo-rpc-test"/>

    <dubbo:registry address="zookeeper://192.168.1.243:2181?backup=192.168.1.242:2181,192.168.1.241:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <dubbo:reference id="demoUserService" interface="com.bdth.rure.demo.rpc.api.DemoUserService"/>

</beans>